/*------Admin Dashboard-------------------------------------------------*/
body {
    font-family: 'Raleway', sans-serif;
}

.nav-btn {
    display: block;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    color: #4A5568; /* สีเทาเข้ม */
}

.nav-btn:hover {
    background: #EDF2F7; /* สีเทาอ่อน */
    border-radius: 5px;
}

.nav-btn:focus {
    outline: none;
}

#ticket-dropdown {
    transition: all 0.3s ease-in-out;
}

